table { 
	margin: 14px 0px 0px 0px;
}

button {
	background-color: white;
	border: 0.5px solid gray;
	border-radius: 25px;
}

input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.input {
	padding-bottom: 19px;
	display: flex;
	align-items: center;
}	

.select {
	display: flex;
	align-items: center;
}

.select p {
	width: 90px;
}

.select p, .select button, .select select {
	margin: 0px;
	margin-right: 5px;
}
